.left {
	text-align: left;
}

img{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}

ons-list-item {
    line-height: 22px !important;
}

.info{
	margin-top: 20px;
	text-align: center;
	opacity: 0.75;
} 