<!doctype html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <title>Pull Hook Sample App</title>  
    
    <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
    <link rel="stylesheet" href="styles/app.css"/>
    <link rel="stylesheet" href="styles/onsen-css-components-blue-basic-theme.css">  

    <script src="lib/onsen/js/angular/angular.js"></script>    
    <script src="lib/onsen/js/onsenui.js"></script>    
     
    <script src="js/app.js"></script>  
    <script>
      ons.ready(function() {
      });
    </script>

    <script>
      angular.module('myApp', ['onsen'])
      .controller('DemoController', function($scope, $timeout, $http) {
        $scope.items = [];

        $scope.load = function($done) {
          $timeout(function() {

            $scope.itemContent = {
              rand: Math.random()
            };

            $http.jsonp('http://numbersapi.com/random/year?callback=JSON_CALLBACK')
              .success(function(data) {
                  $scope.itemContent.desc = data;
              })
              .error(function() {
                  $scope.itemContent.desc = 'No data';
              })
              .finally(function() {
                $done();
              });
            
            $scope.items.unshift($scope.itemContent);
          }, 1000);
        };

        $scope.reset = function(){
          $scope.items.length = 0;
        }

      });
    </script>

   
  </head>

  <body>    

    <ons-page ng-controller="DemoController">
      <ons-pull-hook ng-action="load($done)" var="loader">
        <span ng-switch="loader.getCurrentState()">
          <span ng-switch-when="initial"><ons-icon size="35px" icon="ion-arrow-down-a"></ons-icon> Pull down to refresh</span>
          <span ng-switch-when="preaction"><ons-icon size="35px" icon="ion-arrow-up-a"></ons-icon> Release to refresh</span>
          <span ng-switch-when="action"><ons-icon size="35px" spin="true" icon="ion-load-d"></ons-icon> Loading data...</span>
        </span>
      </ons-pull-hook>

      <ons-toolbar stylefixed>
      <div class="center">Pull to refresh</div>
      <div class="right">
        <ons-toolbar-button ng-click="reset()">Reset</ons-toolbar-button>
      </div>
      </ons-toolbar>
      
        <ons-list>  
          <ons-list-item modifier="chevron" class="item" ng-repeat="item in items">
              <ons-row>
                  <ons-col width="80px">
                    <img ng-src="http://lorempixel.com/60/60/?{{item.rand}}" class="item-thum"></img>
                  </ons-col>
                  <ons-col>
                      <p class="item-desc">{{ item.desc }}</p>
                  </ons-col>
              </ons-row>
          </ons-list-item>
        </ons-list>  
      </div>
    </ons-page>

  </body>  
</html>
